/*Button{*/
    /*-fx-background-color:white;*/
/*}*/

ReservationLabel:hover {
    -fx-background-color:powderblue;
    -fx-text-fill:white;
}

#bgGrid{
    -fx-background-image: url("bg.jpg");
    -fx-background-size: cover;
}

#titleLabel{
    -fx-stroke-width: 5;
    -fx-stroke: white;
}

/*Button:hover{*/
    /*-fx-background-color:black;*/
    /*-fx-text-fill:white;*/
/*}*/